<header class="mainHeader">
    <h1 class="logo"><a href="/">Movie Land</a></h1>
    <div class="linksHeader">
        <a href="/" id="homeLink">MOVIES</a>
        <a href="/actors">ACTORS</a>
        <a href="/genres">GENRES</a>
    </div>
</header>