@import url("home.css");

.detailMain{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(100%, 600px);
    background-color: aliceblue;
}

.smallDetailImg{
    display: none;
}

.detailImg{
    height: 100%;
    width: 100%;
}

.descriptSec{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.descriptHead{
    margin-top: 20px;
}

.bold{
    font-weight: 700;
}

@media (max-width: 580px){
    .detailMain{
        display: flex;
        flex-direction: column;
    }

    .detailImg{
        display: none;
    }

    .smallDetailImg{
        display: block;
        height: max-content;
    }

    .descriptSec {
        padding-left: 10px;
        margin-bottom: 30px;
    }
}