@import url("reset.css");

/* header style */

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #2E5283;
    color: #fff;
}

.logo a {
    cursor: default;
}

.linksHeader {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 1.1rem;
    color: aliceblue;
}

.linksHeader a:hover {
    transform: scale(1.3);
    color: #fff;
    transition: transform 1.3ms ease-in;
}

/* footer style */

.mainFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #2E5283;
    color: #fff;
}

.mainFooter span:hover {
    display: inline-block;
    transform: scaleY(1.3);
    color: #fff;
    transition: transform 1.3ms ease-in;
}


/* home style */

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

/* movies sec */

.moviesSec,
.actorsSec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    padding: 30px 30px;
}

.moviesItem,
.actorsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(59, 69, 163);
    box-shadow: 0px 2px 5px 1px #0d0d0d3a;
    gap: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
}


.movieLink {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.movieLink:hover {
    box-shadow: 0px 4px 5px 1px #0d0d0d74;
}

.moviesImg,
.actorsImg {
    width: 100%;
    height: max-content;
}

.refMovie {
    font-weight: 500;
    color: darkblue;
}

@media (max-width: 840px) {
    .moviesSec,
    .actorsSec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .moviesSec,
    .actorsSec {
        display: grid;
        grid-template-columns: 1fr;
    }

    .mainHeader{
        flex-direction: column;
    }
}