@import url("reset.css");

.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #2E5283;
    color: #fff;
}

.logo a{
    cursor: default;
}

.linksHeader{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 1.1rem;
    color: aliceblue;
}


.linksHeader a:hover{
    transform: scale(1.3);
    color: #fff;
    transition: transform 1.3ms ease-in;
}